.content {
    padding: 20px;
}

input[type=checkbox] {
    margin-right: 5px;
}

h3 {
    margin: 10px 0;
}

.display-option {
    float: left;
}

.option {
    float: left;
    margin-right: 10px;
}

.ghost-container {
    width: 500px;
    border: 1px solid black;
    padding: 5px;
}